// styles.scss

@import 'helpers';

html, body {
  padding:0;
  margin:0;
}

.menu-item-top {
  background-color:red;
}

.reset {
  margin:0 !important;
  padding:0 !important;
}

.flex-cards {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    flex-flow:start;
    justify-content:center;
    align-items: flex-start;
    padding:0;
}

.card-content {
  padding:0 1em 1em 1em;
}

.float-default-top {
  /*position: absolute !important;
  float: right;
  right: 30px;
  margin-top: -60px;*/
}

.float-buttons {
  margin-top: -45px;
}
