html, body {
  padding:0;
  margin:0;
}

.menu-item-top {
  background-color:red;
}

.reset {
  margin:0 !important;
  padding:0 !important;
}

.flex-cards {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    flex-flow:start;
    justify-content:center;
    align-items: flex-start;
    padding:0;
}

<<<<<<< HEAD:client/scss/styles.scss
.newCard {
  .newCardClick {
    display: block;
  }

  .newCardFields {
    display: none;
  }

  &.expanded {
    .newCardClick {
     display: none;
   }
   .newCardFields {
     display: block;
   }
  }
=======

.float-default-top {
  /*position: absolute !important;
  float: right;
  right: 30px;
  margin-top: -60px;*/
}

.float-buttons {
  margin-top: -45px;
>>>>>>> 39986b5da5dc8424f6e04850c5575460b23a8da8:client/styles.css
}
/*helpers*/

.margin-1em {
  margin:1em;
}

.m-top-1em {
  margin-top:1em;
}

.margin-auto {
  margin:auto;
}

.m-bottom-1em {
  margin-bottom:1em;
}

.hide {
  display:none;
}

.show {
  display:block;
}
