html, body {
  padding:0;
  margin:0;
}

.menu-item-top {
  background-color:red;
}

.reset {
  margin:0 !important;
  padding:0 !important;
}

.flex-cards ul {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    flex-flow:start;
    justify-content:center;
    align-items: flex-start;
    padding:0;
}

.newCard {
  .newCardClick {
    display: block;
  }

  .newCardFields {
    display: none;
  }

  &.expanded {
    .newCardClick {
     display: none;
   }
   .newCardFields {
     display: block;
   }
  }
}

/*helpers*/

.margin-1em {
  margin:1em;
}

.m-top-1em {
  margin-top:1em;
}

.margin-auto {
  margin:auto;
}

.m-bottom-1em {
  margin-bottom:1em;
}

.hide {
  display:none;
}

.show {
  display:block;
}
